<div class="lg:w-4/4 md:w-4/2 p-4 w-full">
    <a class="block relative h-48 rounded overflow-hidden">
      <img alt="ecommerce" class="object-cover object-center w-full h-full block"
       [src]="producto ? producto.imageUrl[0] : ''" [alt]="producto?.nombre"
       [routerLink]="['/product', producto?.slug]" >
    </a>
    <div class="mt-4">
      <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ producto?.categoria }}</h3>
      <h2 class="text-gray-900 title-font text-lg font-medium">{{ producto?.nombre}}</h2>
      <p class="mt-1">${{ producto?.precio_venta }}</p> <del>${{ (producto?.precio_regular)}}</del>
      <span class="text-danger ml3"> {{producto ? ((producto.precio_regular - producto.precio_venta)/(producto.precio_regular) | percent) : null }}</span>
    </div>
  </div>